<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Coffe Shop</title>
</head>
<body>
  <header class="bg-gray-800 text-white">
    <div class="grid grid-cols-12 gp-4">
      <div class="place-items-center col-span-2">
        <a href="{% url 'lists_products' %}" class="flex flex-row">
          <img src="https://logowik.com/content/uploads/images/coffee-shop4933.logowik.com.webp" alt="Coffe Shop" class="w-8 h-8 px-0.5 pt-0.5">
          <h1 class="px-3 text-2xl">Coffe Shop</h1>
        </a>
      </div>
      <div class="col-span-9 pr-3.5">
        <div class="flex justify-between">
          Hola, 
          {% if user.is_authenticated %}
            {{ user.username }}
            <a href="{% url 'logout' %}">Cerrar sesión</a>
          {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
          {% endif %}
        </div>
      </div>
      <div class="grid justify-end">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <a href="{% url 'add_product' %}">Producto Nuevo</a>
        </button>
      </div>
   </div> 
  </header>
  <div class="container mx-auto px-4">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>